<launch>
    <arg name="run_rosbridge_server" default="true"/>

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" if="$(arg run_rosbridge_server)"/>
   
    <include file="$(find turtlebro_web)/launch/flask_server.launch"/>
    <include file="$(find turtlebro_web)/launch/video_server.launch"/>    
    <include file="$(find turtlebro_web)/launch/telemetry.launch"/>

</launch>